.parent {
  position: relative;
  background-color: hsla(200, 100%, 20%);
  height: 200px;
  width: 1000px;
  overflow: hidden;
}

.child {
  position: absolute;
  top: 30%;
  width: 8%; /* Paket uži */
  height: 40%;
  background-color: red;
  transition: left 1s linear, background-color 1s linear;
  margin-right: 2%; /* možeš i ovo ostaviti za sigurnost, iako left se koristi */
}

.child[style*="left: calc"] {
  background-color: green;
}
