.parent {
  position: relative;
  background-color: hsla(200, 100%, 20%);
  height: 200px;
  width: 1000px;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.second-line {
  background-color: hsla(100, 50%, 30%, 0.4);
}

.child {
  position: absolute;
  width: 8%;
  height: 40%;
  background-color: red;
  transition: left 1s linear, background-color 1s linear;
}

.child[style*="left: calc"] {
  background-color: green;
}

.track-label {
  font-weight: bold;
  margin: 10px 0 5px;
  font-size: 18px;
  color: white;
}
